@inherits LayoutComponentBase

<Layout ShowGotoTop="true" ShowFooter="@ShowFooter" SideWidth="0"
        IsPage="true" IsFullSide="@IsFullSide" IsFixedHeader="@IsFixedHeader" IsFixedFooter="@IsFixedFooter"
        class="@Theme">
    <Header>
        <span class="ms-3 flex-sm-fill d-none d-sm-block">Bootstrap of Blazor</span>
        <div class="flex-fill d-sm-none">
        </div>
        <Widget></Widget>
        <Logout ImageUrl="images/Argo-C.png" DisplayName="超级管理员" UserName="Admin">
            <LinkTemplate>
                <a href="#"><i class="fa-solid fa-suitcase"></i>个人中心</a>
                <a href="#"><i class="fa-solid fa-cog"></i>设置</a>
                <a href="#"><i class="fa-solid fa-bell"></i>通知<span class="badge badge-pill badge-success"></span></a>
                <LogoutLink />
            </LinkTemplate>
        </Logout>
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="favicon.png" />
            <div class="layout-title">
                <span>后台管理</span>
            </div>
        </div>
        <Sidebar></Sidebar>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
